<html>
  <%- include partial/head %>
  <body>
    <%- include partial/menu %>
<!--Menu ======================================================================== Diatas-->

<div style="margin-top:100px"class="container">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Name</th>
        <td><%= dataSupplier.name %></td>
      </tr>
      <tr>
        <th>Kota</th>
        <td><%= dataSupplier.lastkota_name %></td>
      </tr>
      <tr>
        <th>List Item</th>
        <td></td>
      </tr>
    </tbody>
  </table>

  <br><br>
  <form class="form-horizontal" action="/suppliers/additem/<%= dataSupplier.id %>" method="post">
    <h4 style="text-align:left">Pilihan Subjek</h4>
    <select class="form-control" name="ItemId">
      <%dataItem.forEach((dataItem)=>{%>
          <option value="<%=dataItem.id%>"><%= dataItem.name %></option>
      <%})%>
    </select>
    <br>
    <button type="submit" name="submit">SIMPAN</button>
  </form>


</div>

</body>
</html>
