<html>
  <%- include partial/head %>
  <body>
    <%- include partial/menu %>
<!--Menu ======================================================================== Diatas-->
<div style="text-align:center;margin-top:50px"class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="text-align:center">ID</th>
        <th style="text-align:center">Nama</th>
        <th style="text-align:center">Kota</th>
        <th style="text-align:center">List Item</th>
      </tr>
    </thead>
    <tbody>

        <%dataSupplier.forEach((dataSupplier)=>{%>
          <tr>
          <td><%=dataSupplier.id%></td>
          <td><%=dataSupplier.name%></td>
          <td><%=dataSupplier.kota%></td>
          <td><%=dataSupplier.kota%></td>
          <td><a href="/suppliers/additem/<%= dataSupplier.id %>">Add Item</a></td>
          <td><a href="/suppliers/edit/<%= dataSupplier.id %>">Edit</a></td>
          <td><a href="/suppliers/delete/<%= dataSupplier.id %>">Delete</a></td>

          </tr>
        <%})%>

    </tbody>
  </table>
</div>

</body>
</html>
